summary {
  vertical-align: middle;
}
html, body {
  margin: 0;
  padding: 0;
}

nav {
  width: 30%;
  color: white;
  position: fixed;
  left: 0;
  height: 100%;
  background: black;
  user-select: none;
}

.editor {
  position: fixed;
  height: 100%;
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  width: 70%;
  left: 30%;
}

nav * {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: 16px;
}
nav > *, details > button {
  display: block;
}
img {
  margin-right: 0.5em;
}
details > * {
  margin-left: 1em;
}


button {
  border: 0;
  background: none;
  color: white;
}

#add, #import, #clear {
  float: right;
  font-weight: bold;
}
menu {
  background: darkslategray;
  position: absolute;
  display: block;
  z-index: 10;
  width: 200px;
  height: 500px;
}
